@{
    ViewBag.Title = "Editar Sección";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="vacantes-wrapper">
    <h2 class="vacantes-titulo titulo-principal">Editar Sección</h2>

    <form class="formulario-vacante" method="post" action="@Url.Action("EditarSeccion", "AdministracionGeneral")">
        <input type="hidden" name="id" value="@ViewBag.Id" />

        <label for="nombreSeccion">Nombre de la sección <span style="color:#E04F4F">*</span></label>
        <input type="text" id="nombreSeccion" name="nombreSeccion" placeholder="Ejemplo: SEC-01" required value="@ViewBag.Nombre" />

        <label for="descripcionSeccion">Descripción <span style="color:#E04F4F">*</span></label>
        <textarea id="descripcionSeccion" name="descripcionSeccion" required>@ViewBag.Descripcion</textarea>

        <button type="submit" class="btn-guardar">Guardar Cambios</button>
    </form>
</section>

<link href="~/Content/estilos/estilos.css" rel="stylesheet" />

