@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar Estudiante";
}
<h2>Editar Estudiante</h2>
<form>
    <div class="mb-3">
        <label>Nombre Completo</label>
        <input class="form-control" type="text" value="Laura Rodríguez" />
    </div>
    <div class="mb-3">
        <label>Correo</label>
        <input class="form-control" type="email" value="laura@ejemplo.com" />
    </div>
    <div class="mb-3">
        <label>Carrera</label>
        <select class="form-control">
            <option selected>Informática</option>
            <option>Contabilidad</option>
            <option>Electrónica</option>
        </select>
    </div>
    <button class="btn btn-primary">Actualizar</button>
</form>