@model Sigep.UI.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card cardLogin" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 ">BIENVENIDO A SIGEP</h2>
                            <hr />

                            @using (Html.BeginForm("RecuperarAcceso", "Home", FormMethod.Post, new { @id = "loginForm", @class = "custom-form" }))
                            {
                                <div class="input-icon-container mb-3">
                                    <i class="fas fa-envelope"></i>
                                    @Html.TextBoxFor(m => m.cedula, new { @id = "cedulaLogin", @class = "input-field", placeholder = "Ingresa tu cédula" })
                                </div>

                              
                                <br />

                             

                                <button id="IniciarSesionBTN" class="btnInicio btn btn-lg px-5" type="submit">
                                    Recuperar Acceso
                                </button>
                            }

                        </div>

                        <div>
                            <p class="mb-0">
                                ¿No tienes una cuenta? <a href="@Url.Action("Registro", "Home")" class="text-white-50 fw-bold">Regístrate</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {


        @if (TempData["SwalError"] != null)
 {
     <text>
        Swal.fire({
    icon: 'error',
    title: 'Error',
    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["SwalError"]?.ToString() ?? ""))',
    confirmButtonText: 'Entendido',
    confirmButtonColor: '#2D594D'
});
     </text>
 }

 @if (TempData["SwalSuccess"] != null)
 {
     <text>
              Swal.fire({
    icon: 'error',
    title: 'Error',
    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["SwalError"]?.ToString() ?? ""))',
    confirmButtonText: 'Entendido',
    confirmButtonColor: '#2D594D'
});
 });
     </text>
 }


    });
</script>
